<%= form_with(model: character, id: "#{dom_id(character)}_form") do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :name, class: 'sr-only' %>
    <%= form.text_field :name, class: 'px-2 py-1 my-1 block rounded-none rounded-1-md sm:text-sm border-gray-300', placeholder: 'Their Name' %>
    <%= form.submit class: '-ml-px relative px-4 py-2 border border-blue-600 text-sm font-medium rounded-r-md text-white bg-blue-600 hover:bg-blue-700' %>
  </div>
<% end %>
