<div id="<%= dom_id character_sheet %>">
  <p>
    <strong>Keeper:</strong>
    <%= character_sheet.keeper_id %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= character_sheet.character_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character_sheet.level %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= character_sheet.data %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= character_sheet.version %>
  </p>

</div>
