<%= render HeaderComponent.new(level: 2) do %>
  Character sheets
<% end %>

<div id="character_sheet" class="p-2">
<% if @character_sheets.empty? %>

  <%= link_to "Create Barbarian", "", class: "btn-default" %>
  <%= link_to "Create Bard", "", class: "btn-default" %>
  <%= link_to "Create Cleric", "", class: "btn-default" %>
  <%= link_to "Create Druid", "", class: "btn-default" %>
  <%= link_to "Create Fighter", "", class: "btn-default" %>
  <%= link_to "Create Immolator", "", class: "btn-default" %>
  <%= link_to "Create Paladin", "", class: "btn-default" %>
  <%= link_to "Create Ranger", "", class: "btn-default" %>
  <%= link_to "Create Thief", "", class: "btn-default" %>
  <%= link_to "Create Wizard", "", class: "btn-default" %>
<% else %>
    <% @character_sheets.each do |character_sheet| %>
      <%= render character_sheet %>
      <p>
        <%= link_to "Show this character sheet", character_sheets_path(@character) %>
      </p>
    <% end %>
<% end %>
</div>
