<!DOCTYPE html>
<html>
  <head>
    <title>Pnpworld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%# unless @hide_nav %>
<!--    <nav class="bg-neutral-200 py-2 px-4 w-full flex flex-direction justify-end">-->
      <%# if current_user.present? %>
        <%#= link_to "Sign Out", destroy_user_session_path, class: "px-4 py-2 bg-neutral-500 hover:bg-neutral-700 text-white font-bold" %>
      <%# else %>
        <%#= link_to "Sign In", new_user_session_path, class: "px-4 py-2 bg-neutral-500 hover:bg-neutral-700 text-white font-bold" %>
      <%# end %>
<!--    </nav>-->
  <%# end %>
  <% if flash.any? %>
    <% flash.each do |key, value| -%>
      <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end -%>
  <% end %>

  <%= yield %>
  </body>
</html>